@mixin section-spacing($space) {
    padding-top: $space;
    text-align: center;
    clear: both;
}

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}