/* Global Vars */
// $font-default: 'Varela Round', sans-serif;
$font-default: 'Khula', sans-serif;
$font-default-color: #000;
$font-default-size: 14px;

/* Brand Colors */

$cie-blue: #1E80C0;
$cie-menu-blue: #155FA2;

/* Colors */

$white: #FFFFFF;
$lightest-grey: #F5F5F5;
$light-grey: #ccc;
$dark-grey: #666666;